.address-heading {
	display: flex;
	justify-content: space-between;
	padding-top: .25rem;
	padding-bottom: .25reml
}

.delivery-address-container {
	padding: 20px;
}

.address-details {
	display: flex;
	flex-direction: column;
	width: 250px;
}

.delivery-time {
	margin-top: 10px;
}