.delivery-address-container {
	padding: 15px;
	padding-top: 0;
	.address-details-inner{
		font-size: 16px;
		line-height: 22px;
		&.border-grey-top{
			border-top: 1px solid rgba(124, 124, 124, 0.5);
		}
	}
}