/*
 Theme Name:   Parekhpower
 Theme URI:    http://preview.hb-themes.com/?theme=Highend
 Description:  A Flexible, Powerful & Beautiful WordPress Theme by HB-Themes. Mobile ready and optimized for best performance. With the powerful engine and user friendly interface it will allow you to build outstanding websites quick and easy... It comes with Premium Plugins integrated into the theme.
 Author:       Ajency.in
 Author URI:   http://workwithus@ajency.in
 Template:     HighendWP
 Version:      1.0.1
 Tags:		   Responsive, Page-Builder, Drag&Drop, Clean, Modern, Corporate, Multi-Purpose, Multi-Color
 Text Domain:  hbthemes
*/
/* =Theme customization starts here
-------------------------------------------------------------- */
/*accordion*/
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel-heading {
  border-width: 0;
}
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel-heading:hover {
  background-color: transparent;
}
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel-heading i.vc_tta-controls-icon {
  outline: 2px solid #fb7c43;
  border: 4px solid #ffffff;
}
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel-heading i.vc_tta-controls-icon:before,
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel-heading i.vc_tta-controls-icon:after {
  border-color: #fb7c43;
}
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel-heading .vc_tta-title-text {
  margin-left: 15px;
  color: #31485e;
}
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
  background: transparent;
}
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover {
  background: transparent;
}
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel .vc_active .vc_tta-panel-heading,
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel .vc_active .vc_tta-panel-body {
  background: transparent;
}
.wpb-js-composer .custom-accordion.vc_tta-color-grey.vc_tta.vc_tta-style-classic .vc_tta-panel-body {
  background: transparent;
  border-width: 0;
  padding: 14px 0;
  margin-left: 60px;
}
.text-center {
  text-align: center;
}
.address-section .addr-col .feature-box .feature-box-content h4.bold {
  display: table;
}
.address-section .addr-col .feature-box .feature-box-content h4.bold i {
  display: table-cell;
  vertical-align: top;
  padding: 5px 15px 0 0;
}
.address-section .feature-box-content h4.bold {
  color: #ffffff;
}
body {
  font-size: 15px;
  font-family: 'Open Sans';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
}
.primary-link a {
  text-decoration: underline !important;
  color: #fb7c43;
  font-weight: 600;
  font-size: 16px;
}
.primary-link a:hover {
  color: #fb7c43;
}
.feature-col .feature-box-content h3 {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Open Sans';
}
@media (max-width: 768px) {
  .feature-col .feature-box-content h3 {
    font-size: 24px;
    white-space: nowrap;
  }
}
.feature-col .feature-box-content h3 small {
  font-size: 14px;
}
.feature-col .feature-box-content h4 {
  font-size: 26px;
}
#about-us {
  z-index: -1;
}
.hb-image-bg-wrap:before,
#about-us:before,
#contact-us:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
#slider-section + #main-content {
  overflow: visible;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0 !important;
}
#slider-section .rev_slider .slotholder:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  /* black overlay with 50% transparency */
  background: rgba(0, 0, 0, 0.3);
}
.sidebar-col {
  border-left: 1px solid #e8e8e8;
}
@media (max-width: 767px) {
  .sidebar-col {
    border: 0;
  }
}
.d-flex {
  display: flex;
}
@media (max-width: 767px) {
  .d-flex {
    flex-wrap: wrap;
  }
}
.w3eden .media .pull-left {
  width: 40px;
}
.w3eden .media .media-body > strong span {
  display: none;
}
.product-row .wpb_column.vc_column_container .vc_column-inner,
.past-project-row .wpb_column.vc_column_container .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.vc_separator.contactTitle h4 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.formSubmit .contactSubmit {
  display: block;
  background: #fb7c43;
  box-shadow: none;
  min-width: 15%;
}
.formSubmit .contactSubmit:hover {
  display: block;
  background: #fb7c43;
  box-shadow: none;
}
.slick-image-slide-wrap {
  height: 100% !important;
}
/*five columns*/
@media screen and (min-width: 768px) {
  .five-columns.vc_row .vc_col-sm-2 {
    float: left;
    width: 18.8%;
    padding: 0;
    margin-right: 1.5%;
    min-height: 0;
  }
  .five-columns.vc_row .vc_col-sm-2:nth-last-child(2) {
    margin-right: 0;
  }
}
@media (min-width: 767px) {
  #hb-wrap #main-wrapper #header-inner.stuck #header-inner-bg {
    background: #ffffff !important;
  }
  #hb-wrap #main-wrapper #header-inner.stuck #main-nav > li > a {
    color: #000000 !important;
  }
}
#to-top i:before {
  content: "\f176";
  font-family: FontAwesome;
  font-style: normal;
}
#contact-button i.hb-moon-envelop:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-style: normal;
}
i.hb-moon-arrow-right-5:after {
  content: "\f178";
  font-family: FontAwesome;
  font-style: normal;
}
i.icon-star:before {
  content: "\f005";
  font-family: FontAwesome;
  font-style: normal;
}
.contact-form div.wpcf7 {
  box-shadow: 0 0 16px #cccccc;
  padding: 20px 15px;
  background: rgba(0, 0, 0, 0.8);
}
@media (min-width: 768px) {
  .contact-form div.wpcf7 {
    margin-top: -90px;
  }
}
.contact-form div.wpcf7 h3 {
  font-size: 30px;
  font-family: Open Sans;
  font-weight: 600;
  color: #ffffff;
}
.contact-form div.wpcf7 form {
  border: 2px solid #5c5c5c;
  padding: 30px;
}
.contact-form div.wpcf7 form p {
  margin: 0 0 10px;
}
.contact-form div.wpcf7 form label {
  padding-left: 0;
  color: transparent;
}
.contact-form div.wpcf7 form input[type="text"],
.contact-form div.wpcf7 form input[type="tel"],
.contact-form div.wpcf7 form input[type="email"],
.contact-form div.wpcf7 form textarea {
  border: 0;
  border-bottom: 1px solid #5c5c5c;
  background: transparent;
  padding: 12px 0px 10px !important;
  color: #ffffff;
}
.contact-form div.wpcf7 form input[type="text"]::-webkit-input-placeholder,
.contact-form div.wpcf7 form input[type="tel"]::-webkit-input-placeholder,
.contact-form div.wpcf7 form input[type="email"]::-webkit-input-placeholder,
.contact-form div.wpcf7 form textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.contact-form div.wpcf7 form input[type="text"].wpcf7-not-valid,
.contact-form div.wpcf7 form input[type="tel"].wpcf7-not-valid,
.contact-form div.wpcf7 form input[type="email"].wpcf7-not-valid,
.contact-form div.wpcf7 form textarea.wpcf7-not-valid {
  border: none !important;
  border-bottom: 1px solid #fb7c43 !important;
  box-shadow: none;
  margin-bottom: 5px;
}
.contact-form div.wpcf7 form span.wpcf7-not-valid-tip {
  color: #fb7c43;
}
.contact-form div.wpcf7 form input[type="submit"] {
  margin: auto;
  display: block;
  background: #fb7c43;
  box-shadow: none;
}
.contact-form div.wpcf7 form input[type="submit"]:not(.no-three-d):not(.hb-third-dark):not(.hb-second-dark):active {
  top: 0 !important;
}
.subscribe-email {
  position: relative;
}
.subscribe-email label {
  padding-left: 0;
  color: transparent;
}
.subscribe-email input[type="email"] {
  border: 0;
  border-bottom: 1px solid #cccccc;
  background: transparent;
  padding: 18px 50px 16px 0 !important;
  color: #ffffff;
}
.subscribe-email input[type="email"]::-webkit-input-placeholder {
  color: #ffffff;
}
.subscribe-email input[type="email"].wpcf7-not-valid {
  border: none !important;
  border-bottom: 1px solid #fb7c43 !important;
  box-shadow: none;
  margin-bottom: 5px;
}
.subscribe-email input[type="email"] span.wpcf7-not-valid-tip {
  color: #fb7c43;
}
.subscribe-email input[type="submit"] {
  margin: auto;
  display: block;
  background: #fb7c43;
  box-shadow: none;
  border-radius: 0;
  z-index: 9;
  font-family: FontAwesome;
}
.subscribe-email input[type="submit"]:not(.no-three-d):not(.hb-third-dark):not(.hb-second-dark):active {
  top: 0 !important;
}
.subscribe-email p + p {
  position: absolute;
  top: 16px;
  right: 0;
}
.subscribe-email.black-text input[type="email"] {
  color: #000000;
}
.subscribe-email.black-text input[type="email"]::-webkit-input-placeholder {
  color: #000000;
}
.send-enquiry label {
  padding-left: 0;
  color: transparent;
}
.send-enquiry input[type="text"],
.send-enquiry input[type="tel"],
.send-enquiry input[type="email"],
.send-enquiry textarea {
  border: 0;
  border-bottom: 1px solid #5c5c5c;
  background: transparent;
  padding: 12px 0px 10px !important;
  color: #000000;
}
.send-enquiry input[type="text"]::-webkit-input-placeholder,
.send-enquiry input[type="tel"]::-webkit-input-placeholder,
.send-enquiry input[type="email"]::-webkit-input-placeholder,
.send-enquiry textarea::-webkit-input-placeholder {
  color: #000000;
}
.send-enquiry input[type="text"].wpcf7-not-valid,
.send-enquiry input[type="tel"].wpcf7-not-valid,
.send-enquiry input[type="email"].wpcf7-not-valid,
.send-enquiry textarea.wpcf7-not-valid {
  border: none !important;
  border-bottom: 1px solid #fb7c43 !important;
  box-shadow: none;
  margin-bottom: 5px;
}
.send-enquiry span.wpcf7-not-valid-tip {
  color: #fb7c43;
}
.send-enquiry input[type="submit"] {
  background: #fb7c43;
  box-shadow: none;
}
.send-enquiry input[type="submit"]:not(.no-three-d):not(.hb-third-dark):not(.hb-second-dark):active {
  top: 0 !important;
}
.product-grid {
  margin-bottom: -200px !important;
}
@media (max-width: 767px) {
  .product-grid {
    margin-bottom: 0 !important;
  }
}
.product-grid > .wpb_wrapper {
  display: flex;
  justify-content: center;
  overflow: visible;
}
@media (max-width: 767px) {
  .product-grid > .wpb_wrapper {
    flex-wrap: wrap;
  }
}
.product-grid > .wpb_wrapper .row-col-grid {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
@media (max-width: 767px) {
  .product-grid > .wpb_wrapper .row-col-grid {
    flex-basis: 100%;
  }
}
.product-grid > .wpb_wrapper .row-col-grid .vc_col-sm-4,
.product-grid > .wpb_wrapper .row-col-grid .vc_col-sm-3 {
  width: 100%;
  margin-bottom: 15px !important;
}
.product-grid > .wpb_wrapper .row-col-grid .vc_col-sm-4 .wpb_wrapper,
.product-grid > .wpb_wrapper .row-col-grid .vc_col-sm-3 .wpb_wrapper {
  background-color: #ffffff;
}
.product-grid > .wpb_wrapper .row-col-grid .content-info .wpb_wrapper {
  background-color: transparent;
}
.product-grid > .wpb_wrapper .row-col-grid:last-child {
  top: -140px;
}
@media (max-width: 767px) {
  .product-grid > .wpb_wrapper .row-col-grid:last-child {
    top: 0;
  }
}
.product-grid > .wpb_wrapper .row-col-grid:nth-child(2) {
  top: -100px;
}
@media (max-width: 767px) {
  .product-grid > .wpb_wrapper .row-col-grid:nth-child(2) {
    top: 0;
  }
}
.product-grid > .wpb_wrapper .row-col-grid .vc_column_container > .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  transition: transform .3s;
}
.product-grid > .wpb_wrapper .row-col-grid .vc_column_container > .vc_column-inner:hover,
.product-grid > .wpb_wrapper .row-col-grid .vc_column_container > .vc_column-inner:focus {
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  transform: scale3d(1.006, 1.006, 1);
}
.product-grid > .wpb_wrapper .row-col-grid .vc_column_container.content-info > .vc_column-inner {
  all: unset;
}
.product-grid > .wpb_wrapper .row-col-grid:first-child .wpb_column.vc_column_container,
.product-grid > .wpb_wrapper .row-col-grid:last-child .wpb_column.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.product-grid .rounded-btn a {
  width: 80px;
  border-radius: 25px !important;
  border: 2px solid #ffffff !important;
  box-shadow: 0 0 8px #cccccc !important;
}
.product-grid .rounded-btn a i {
  margin-right: 0;
}
.row-col-grid2:not(:last-child) {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  .row-col-grid2:not(:last-child) {
    border: none;
  }
}
.row-col-grid2 .wpb_column.vc_column_container {
  position: relative;
}
.row-col-grid2 .wpb_column.vc_column_container:not(:last-child) {
  border-right: 1px solid #cccccc;
}
@media (max-width: 768px) {
  .row-col-grid2 .wpb_column.vc_column_container:not(:last-child) {
    border: none;
  }
}
.row-col-grid2 .wpb_column.vc_column_container:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -20px;
  height: 30px;
  width: 30px;
  background: #f9f9f9;
  z-index: 1;
  transform: rotate(45deg);
}
@media (max-width: 767px) {
  .row-col-grid2 .wpb_column.vc_column_container:not(:last-child):after {
    display: none;
  }
}
.product-categories-row .vc_row {
  display: flex;
}
@media (max-width: 767px) {
  .product-categories-row .vc_row {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .product-categories-row .vc_row .wpb_column.vc_column_container {
    margin-bottom: 15px !important;
  }
}
.product-categories-row .vc_row .wpb_column.vc_column_container .vc_column-inner {
  background: #ffffff;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  transition: transform .5s;
  border: 1px solid #e8e8e8;
}
.product-categories-row .vc_row .wpb_column.vc_column_container .vc_column-inner .wpb_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-categories-row .vc_row .wpb_column.vc_column_container .vc_column-inner .wpb_wrapper .wpb_single_image {
  margin-top: 15px;
}
.product-categories-row .vc_row .wpb_column.vc_column_container .vc_column-inner .wpb_wrapper h3 {
  padding-bottom: 15px;
}
.product-categories-row .vc_row .wpb_column.vc_column_container .vc_column-inner:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.product-categories-row .vc_row .wpb_column.vc_column_container .vc_column-inner:hover,
.product-categories-row .vc_row .wpb_column.vc_column_container .vc_column-inner:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.product-categories-row .vc_row .wpb_column.vc_column_container .vc_column-inner:hover:after,
.product-categories-row .vc_row .wpb_column.vc_column_container .vc_column-inner:focus:after {
  opacity: 1;
}
/* ul.product-categories {
	display: flex;
	flex-wrap: wrap;
	li {
		flex-grow: 1;
		width: 31%;
		background: @white;
		text-align: center;
		margin: 1%;
		@media (max-width: 767px) {
			width: 100%;
		}
		a {
			display: block;
			padding: 15px;
			h3 {
				margin-bottom: 0;
			}
		}
	}
} */
.product-row {
  display: flex;
}
@media (max-width: 767px) {
  .product-row {
    flex-wrap: wrap;
  }
}
.product-row .product-img {
  margin-top: 15px;
  background: #ffffff;
  border-radius: 4px;
}
.product-row .other-categories-col {
  border-left: 1px solid #cccccc;
}
@media (max-width: 767px) {
  .product-row .other-categories-col {
    border: none;
  }
}
.product-row .other-categories-col .category-link {
  margin-bottom: 0;
}
.product-row .other-categories-col .category-link:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}
.product-row .other-categories-col .category-link a {
  display: block;
  padding: 10px 0;
}
.product-row .other-categories-col .category-link a:after {
  float: right;
  content: "\f105";
  font-family: FontAwesome;
}
.product-row .other-categories-col .category-link:hover a,
.product-row .other-categories-col .category-link:focus a {
  font-weight: 600;
}
.product-row .products-col .product-title {
  text-transform: uppercase;
}
.product-row .products-col .primary-link a {
  font-size: 14px;
}
.product-row .products-col .product-desc {
  font-size: 14px;
}
@media (max-width: 767px) {
  .product-row .products-col .vc_column_container > .vc_column-inner {
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #cccccc;
  }
}
