.container {
    position: relative;
    display: inline-block;
}

.map-container {
    width: auto;
    height: 200px;
    position: relative;
}

#marker {
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 10px);
    pointer-events: none;
    color: #000;
}

.address-container{
    max-width: 410px;
    margin-left: auto;
    font-size: 16px;
    line-height: 22px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.search-input{
    outline: 0;
    &:focus{
        outline: 0;
    }
}

.search-close{
    position: absolute;
    top: 18px;
    right: 15px;
    background: transparent;
    border: 0;
    outline: 0;
}

.location-list{
    padding-left: 0;
    padding: 15px;
    margin-bottom: 0;
    li{
        font-size: 15px;
        line-height: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

