.product {
	&-cartimage {
		padding-right: 10px;
		width: 17%;
		img{
			object-fit: cover;
		}
	}
	&-details{
		width: 100%;
		padding-right: 10px;
		@media (max-width: 480px) {
			//width: 45%;
			padding-right: 8px;
		}
	}
	&-quantity{
		//width: 25%;
		text-align: center;		
		@media (max-width: 480px) {
			//width: 25%;
			.btn-qty{
				padding: 6px;
			}
		}
	}
	&-price{
		font-size: 15px;
		line-height: 20px;
		//width: 13%;
	}
	&-size-c{
		font-size: 12px;
		line-height: 14px;
		margin-top: 3px;
	}
}

.cart-qty{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #000;
	cursor: pointer;
	min-width: 30px;
}

.item-container{
	&:last-child{
		>div{
			margin-bottom: 0;
		}		
	}
}
