.product {
	&-image {
		padding-right: 10px;
		width: 17%;
		img{
			object-fit: cover;
		}
	}
	&-details{
		width: 53%;
		padding-right: 10px;
		@media (max-width: 480px) {
			width: 50%;
		}
	}
	&-quantity{
		width: 30%;
		text-align: center;
		@media (max-width: 480px) {
			width: 33%;
		}
	}
	&-price{
		margin-top: 5px;
		font-size: 15px;
		line-height: 20px;
	}
	&-size{
		font-size: 11px;
		line-height: 14px;
		margin-top: 3px;
	}
}

.cart-qty{
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
	color: #000;
	cursor: pointer;
	min-width: 40px;
	@media (max-width: 480px) {
		min-width: 30px;
	}
}

.item-container{
	&:last-child{
		margin-bottom: 0;
	}
}
