.ft6 {
    font-weight: 600;
}
@media (min-width: 992px) and (max-width: 1399.98px) {
    .container {
        max-width: 1200px;
    }
    .contact-us {
        h4 {
            font-size: 1.1rem;
        }
    }
}
.mt5 {
    margin-top: 4rem;
    @media (min-width: 320px) and (max-width: 767.98px) {
        margin-top:2rem;
    }
}
.mb5 {
    margin-bottom: 4rem;
}
.mb6 {
    margin-bottom: 6rem;
}
.p5 {
    padding-left: 4rem;
    padding-right: 4rem;
    @media (min-width: 320px) and (max-width: 767.98px) {
        padding-left:1rem;
        padding-right: 1rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @media (min-width: 768px) and (max-width: 1199.98px) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    @media (min-width: 992px) and (max-width: 1399.98px) {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
.seperator {
    padding-top: 6rem;
    @media (min-width: 320px) and (max-width: 767.98px) {
        font-size: 4rem;
        padding-top: 4rem;
    }
}
section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    @media (min-width: 320px) and (max-width: 767.98px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
.text-link {
    text-decoration: none !important;
}
.text-black {
    color: #000!important;
}
.p2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pt-6 {
    padding-top: 60px;
}
.overflow-h {
    overflow: hidden;
}
footer {
    @media (min-width: 320px) and (max-width: 767.98px) {
        .w-75 {
            width:100% !important;
        }
    }
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .section-2rem {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
}
.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 500ms ease-in;
}
.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.border{
    &-white{
        border: 1px solid #fff;
    }
    &-radius{
        &-4{
            border-radius: 4px;
        }
    }
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .footer-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
        .mt-5 {
            margin-top: 1.5rem!important;
        }
    }
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .alert-mb {
        margin-left: -15px;
        margin-right: -15px;
    }
}