.ft6 {
    font-weight: 600;
}
@media (min-width: 992px) and (max-width: 1399.98px) {
    .container {
        max-width: 1200px;
    }
    .contact-us {
        h4 {
            font-size: 1.1rem;
        }
    }
}
.mt5 {
    margin-top: 4rem;
    @media (min-width: 320px) and (max-width: 767.98px) {
        margin-top:2rem;
    }
}
.mb5 {
    margin-bottom: 4rem;
}
.mb6 {
    margin-bottom: 6rem;
}
.p5 {
    padding-left: 4rem;
    padding-right: 4rem;
    @media (min-width: 320px) and (max-width: 767.98px) {
        padding-left:1rem;
        padding-right: 1rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @media (min-width: 768px) and (max-width: 1199.98px) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    @media (min-width: 992px) and (max-width: 1399.98px) {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
.seperator {
    padding-top: 6rem;
    @media (min-width: 320px) and (max-width: 767.98px) {
        font-size: 4rem;
        padding-top: 4rem;
    }
}
section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    @media (min-width: 320px) and (max-width: 767.98px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
.text-link {
    text-decoration: none !important;
}
.text-black {
    color: #000!important;
}
.p2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pt-6 {
    padding-top: 60px;
}
.overflow-h {
    overflow: hidden;
}
footer {
    @media (min-width: 320px) and (max-width: 767.98px) {
        .w-75 {
            width:100% !important;
        }
    }
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .section-2rem {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
}
.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 500ms ease-in;
}
.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.border{
    &-white{
        border: 1px solid #fff;
    }
    &-green{
        border: 1px solid #47A748;
        &-2{
            border: 2px solid #47A748;
        }
    }
    &-grey{
        &-2{
            border: 2px solid #EEEFEE;
        }
    }
    &-radius{
        &-4{
            border-radius: 4px;
        }
    }
}

.letter-spacing{
    &-5{
        letter-spacing: 0.5px;
    }
}

.line-clamp-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lg-w-50{
    @media (min-width: 992px) {
        width: 50%;
        float: left;
    }
}

.position{
    &-absolute{
        &-right20{
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
        }
    }
}

.reverse-order{
    @media (min-width: 992px) {
        .product-image{
            order: 2;            
        }
        .product-info{
            order: 1;
        }
    }
}

.text-underline{
    color: #47a748 !important;
    text-decoration: underline !important;
}

.spacer-200{
    height: 200px;
}

.spacer-210{
    height: 210px;
}

.transform-none{
    transform: none !important;
}

.full-width-15{
    margin-left: -15px;
    margin-right: -15px;
}

.hide-scroll{
    position: inherit;
    overflow-y: hidden;
}

.backdrop{
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(173,181,189,.6);
    z-index: 1199;
    display: none;
    &.show{
        display: block;
    }
}

.backdrop-wrap{
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(173,181,189,.6);
    z-index: 9999;
    display: none;
}

.w-48{
    width: 48%;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-bottom: 5px solid black;
}

.vertical-align-middle{
    vertical-align: middle;
}

.mw-50{
    min-width: 50px;
    display: inline-block;
}

.bg-off-green{
    background-color: rgba(71,167,72,0.1);
}

.bg-off-green-1{
    background-color: #D0E9D1;
}

.text-silver{
    color: #94a1ae;
    font-size: 16px;
}

.pl-20{
    padding-left: 20px;
}

.border-bottom-lightgrey{
    border-bottom: 1px solid #C4C8C4;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .footer-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
        .mt-5 {
            margin-top: 1.5rem!important;
        }
    }
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .alert-mb {
        margin-left: -15px;
        margin-right: -15px;
    }
}