.msg-container{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

#react-view-cart-container{
    >div{
        background: #4aa751;
        border-color: #4aa751;
        padding: 15px;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }    
}

.success.toast{
    background: #ecf6ec;
    color: #4aa751;
}

.failure{
    background: #ecf6ec;
}

.p-15{
    padding: 15px;
}

.custom-col-3{
    @media (min-width: 1600px) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.text-line {
    height: 25px;
    width: 100%;
    @extend .animated-background;
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 25px;
    position: relative;
}

// Animation
@keyframes placeHolderShimmer{
    0%{
        background-position: -100% 0
    }
    100%{
        background-position: 100% 0
    }
}