.product-section{
    &__title{

    }
}
.product{
    &-list{
        margin: 0 -10px;
        &-item{
            padding: 0 10px;
            display: flex;
            margin-bottom: 40px;
        }
    }
    &-wrapper{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 0 9px 0 rgba(122,122,122,0.25);
        padding-bottom: 50px;
    }
    &-image{

    }
    &-info{

    }
}

.btn-add-to-cart{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}