.product-section{
    font-family:"Work Sans", sans-serif;
}
.product{
    &-list{
        margin: 0 -10px;
        &-item{
            padding: 0 10px;
            display: flex;
            margin-bottom: 40px;
        }
    }
    &-wrapper{
        background: #fff;
        border-radius: 6px;
    }
    &-excerpt{
        //font-family: 'Futura PT Book'; 
        line-height: 17px;       
    }
    &-quantity{
        .minus{
            border-top-left-radius: 4px !important;
            border-bottom-left-radius: 4px !important;
        }
        .plus{
            border-top-right-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
        }
        .input-text {
            width: 85px;
            margin: 0 -5px;
            background: transparent;
            border: 1px solid #fff;
            text-align: center;
            color: #fff;
        }
    }
    &-size{
        margin-top: 10px;
    }
    &-image{
    }
    &-meta{
        align-items: center;
        justify-content: space-between;
    }
    &-price{
        img{
            width: 16px;
            position: relative;
            top: -2px;
        }
    }
    &-title{
        margin-top: 15px;
        margin-bottom: 7.5px;
    }
}

.btn-add-to-cart{
    img{
        position: relative;
        top: -1px;
    }    
}