body{
    font-family: 'Work Sans', sans-serif;
}
.body-text{
    font-size: 1.75rem;
    /*letter-spacing: .2px;*/
    line-height: 1.428;
    @media (min-width: 320px) and (max-width: 767.98px) {
        font-size: 1.375rem;
    	.font-weight-bold{
    		font-size: 1.6rem;
    	}
    }
}
