.cart-container {
	max-width: 410px;
	margin-left: auto;
	background: #fff;
	font-size: 15px;
	line-height: 20px;
	position: fixed;
	top: 0;
	right: -100%;
	left: auto;
	width: 100%;
	height: calc(100% - 50px);
	overflow-x: hidden;
	overflow-y: scroll;
	transition: all 0.3s ease-in;
	.cart-heading {
		padding: 15px;
		font-size: 18px;
		font-weight: 500;
		.add-to-cart{
			font-size: 14px;
			line-height: 18px;
			img{
				position: relative;
				top: 3px;
				margin-right: 3px;
			}
		}
	}
	.secure-checkout{
		max-width: 410px;
		left: auto;
		@media (max-width: 767px) {
			max-width: 100%;
		}
	}
	&.visible{
		right: 0;
	}
	@media (max-width: 767px) {
		max-width: 100%;
	}
}
