.cart-container {
	max-width: 410px;
	margin-right: 0;
	margin-left: auto;
	background: #eee;
	@media (max-width: 767px) {
		max-width: 100%;
	}
}
.cart-heading {
	padding: 10px 15px;
	font-size: 18px;
    font-weight: 500;
}

.cart-summary-label {
	font-size: 20px;
    font-weight: bold;	
}

.bottom-bar {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	.genuinity{
		padding-left: 20px;
	}
}

.secure-checkout {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	.checkout-btn {
		background-color: #f9bc23;
		border-color: #f9bc23;
		width: 100%;
		height: 100%;
		font-weight: 600;
		text-transform: uppercase;
		color: #212529;
	}
}