.background {
    &-white{
        background: #fff;
    }
    &-grey{
        background: #7C7C7C;
    }
    &-green{
        background: #47A748;
    }

    &-offgreen{
        background: #ECF6EC;
    }
}